* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31rem;
    width: 22rem;
    background-color: #797c9f;
    border-radius: 10px;
    /* border: #000 2px solid; */
    box-shadow: 5px 5px 5px #000;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000;
}

.descricao {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000;
    text-align: start;
    padding: 0 2rem;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.75rem;
}

.info span {
    color:#8035bb;
}

.imgCard {
    height: auto;
    width: 100%;
    max-width: 22rem;
    object-fit: cover; 
    align-self: center;
    border: none;
    border-radius: 5px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.dificuldade {
    height: auto;
    max-width: 100px;
}
